.header {
    background-color: #FBD131;
    padding-top: 50px;
    padding-bottom: 75px;
}

.footer {
    background-color: rgb(48, 47, 56);
    color: white;
    padding-top: 50px;
    padding-bottom: 75px;
}

.title-h {
    color: #302F38;
}

.title-h,
.title-f {
    font-size: 40px;
    font-weight: bolder;
}

.subtitle-h,
.subtitle-f {
    font-size: 18px;
    margin-bottom: 20px;
}

.buyNowBtn {
    padding: 12px;
    width: 220px;
    border-radius: 75px;
    font-size: 12px;
    font-weight: bolder;
}

.buyNowBtn,
.buyNowBtn:hover,
.buyNowBtn:active,
.buyNowBtn:focus,
.buyNowBtn:active:focus,
.buyNowBtn:active:hover {
    background-color: #302F38;
    border-color: #302F38;
    color: white;
    outline: none;
}

.createDiscountBtn {
    padding: 12px;
    width: 220px;
    border-radius: 75px;
    font-size: 12px;
    font-weight: bolder;
}

.createDiscountBtn,
.createDiscountBtn:hover,
.createDiscountBtn:active,
.createDiscountBtn:focus,
.createDiscountBtn:active:focus,
.createDiscountBtn:active:hover {
    background-color: #FCD233;
    border-color: #FCD233;
    color: #302F38;
}

/* done header and footer */

.search {
    background-color: #302F38;
    padding-top: 20px;
    padding-bottom: 20px;
}

.p0 {
    padding-left: 10px;
    padding-right: 10px;
}

.search .form-control {
    padding: 6px 17px;
}

.form-control {
    border-radius: 100px;
}

::placeholder {
    color: #555555 !important;
}

.form-control:focus {
    border-color: #FBD131;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(251, 209, 49, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(251, 209, 49, .6);
}

.select-box-paddings {
    padding-left: 5px;
    padding-right: 5px;
}

.select-box {
    position: relative;
    display: block;
    width: 100%;
}

.select-box__current {
    position: relative;
    cursor: pointer;
    outline: none;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
}

.select-box__current:focus {
    border-radius: 100px;
    border-color: #FBD131;
    outline-color: #FBD131;
    -webkit-box-shadow: inset 0 1px 1px rgba(251, 209, 49, 0.075), 0 0 8px rgba(251, 209, 49, .6);
    box-shadow: inset 0 1px 1px rgba(251, 209, 49, .075), 0 0 8px rgba(251, 209, 49, .6);
}

.select-box__current:focus+.select-box__list {
    opacity: 1;
    -webkit-animation-name: none;
    animation-name: none;
}

.select-box__current:focus+.select-box__list .select-box__option {
    cursor: pointer;
}

.select-box__current:focus .select-box__icon {
    -webkit-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg);
}

.select-box__icon {
    position: absolute;
    top: 50%;
    right: 15px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 13px;
    transition: 0.2s ease;
}

.select-box__value {
    display: flex;
}

.select-box__input {
    display: none;
}

.select-box__input:checked+.select-box__input-text {
    display: block;
}

.select-box__input-text {
    display: none;
    width: 100%;
    height: 34px;
    padding: 6px 17px;
    background-color: #fff;
    border-radius: 100px;
    margin-bottom: 0px;
}

.select-box__list {
    position: absolute;
    width: 100%;
    padding: 0;
    list-style: none;
    opacity: 0;
    -webkit-animation-name: HideList;
    animation-name: HideList;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: step-start;
    animation-timing-function: step-start;
    box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.253);
    z-index: 1000;
    background-color: #fff;
    border-radius: 15px;
    margin-top: 8px;
}

.select-box__option {
    display: block;
    padding: 8px 17px;
    background-color: #fff;
    color: #555;
    font-weight: 500;
    border-top: .06em solid #d9d9d9;
    margin-bottom: 0px;
}

.borders-top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.borders-bottom {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.select-box__option:hover,
.select-box__option:focus {
    color: #546c84;
    background-color: #fbfbfb;
}

@-webkit-keyframes HideList {
    from {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }

    to {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
    }
}

@keyframes HideList {
    from {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }

    to {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
    }
}

.showGridBtn {
    font-size: 22px;
    padding: 0px 5px;
}

.showGridBtn,
.showGridBtn:hover,
.showGridBtn:active,
.showGridBtn:focus,
.showGridBtn:active:focus,
.showGridBtn:active:hover {
    background-color: #302F38;
    color: white;
    border-color: #302F38;
    outline: none;
}

.showSingleCardBtn {
    font-size: 22px;
    padding: 0px 5px;
}

.showSingleCardBtn,
.showSingleCardBtn:hover,
.showSingleCardBtn:active,
.showSingleCardBtn:focus,
.showSingleCardBtn:active:focus,
.showSingleCardBtn:active:hover {
    background-color: #302F38;
    color: #FCD233;
    border-color: #302F38;
    outline: none;
}

/* done search div */

.wrap {
    display: flex;
    flex-wrap: wrap;
}

.cards-box {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #eaebf4;
}

.paddings {
    padding: 8px;
}

.card {
    background-color: #FFFFFF;
    padding: 25px;
    border-radius: 15px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.company-name,
.company-name1 {
    color: #1A1922;
    font-weight: bolder;
}

.company-name1 {
    font-size: 22px;
    margin-top: 0px;
}

.discount {
    color: rgb(250, 216, 82);
    font-weight: bolder;
}

.top1 {
    margin-top: 15px;
}

.top2 {
    margin-top: 10px;
}

.categoryBtn {
    padding: 6px 30px;
    border-radius: 75px;
    font-size: 14px;
    font-weight: bolder;
    white-space: normal;
    word-wrap: break-word;
}

.categoryBtn,
.categoryBtn:hover,
.categoryBtn:active,
.categoryBtn:focus,
.categoryBtn:active:focus,
.categoryBtn:active:hover {
    background-color: #FEFEFE;
    color: #1A1922;
    border-color: #1A1922;
    outline: none;
}

.margins1 {
    margin: 22px 0px;
}

.margins2 {
    margin-top: 22px;
}

.likes {
    display: flex;
    align-items: center;
    justify-content: center;
}

.likeBtn {
    font-size: 26px;
    padding: 0px 5px;
}

.likeBtn,
.likeBtn:hover,
.likeBtn:active,
.likeBtn:focus,
.likeBtn:active:focus,
.likeBtn:active:hover {
    background-color: white;
    color: #1A1922;
    border-color: white;
    outline: none;
}

.likes span {
    margin-left: 20px;
    margin-right: 20px;
    color: #1A1922;
    font-size: 26px;
    font-weight: bolder;
}

.dislikeBtn {
    font-size: 26px;
    padding: 0px 5px;
}

.dislikeBtn,
.dislikeBtn:hover,
.dislikeBtn:active,
.dislikeBtn:focus,
.dislikeBtn:active:focus,
.dislikeBtn:active:hover {
    background-color: white;
    color: #1A1922;
    border-color: white;
    outline: none;
}

.bottom1 {
    margin-bottom: 10px;
}

.bottom2 {
    margin-bottom: 20px;
}

.seeMoreBtn {
    padding: 10px;
    width: 90%;
    border-radius: 75px;
    font-size: 14px;
    font-weight: bolder;
}

.seeMoreBtn,
.seeMoreBtn:hover,
.seeMoreBtn:active,
.seeMoreBtn:focus,
.seeMoreBtn:active:focus,
.seeMoreBtn:active:hover {
    background-color: #302F38;
    color: #FEFEFE;
    border-color: #302F38;
    outline: none;
    box-shadow: 5px 10px 10px #eaebf4;
}

#single-cards {
    display: none;
}

/* done the look of cards */

.card-background {
    padding-top: 35px;
    padding-bottom: 55px;
    background-color: #EBECF5;
}

.categoryBtn1 {
    width: 200px;
    padding: 6px 30px;
    border-radius: 75px;
    font-size: 14px;
    font-weight: bolder;
    white-space: normal;
    word-wrap: break-word;
}

.categoryBtn1,
.categoryBtn1:hover,
.categoryBtn1:active,
.categoryBtn1:focus,
.categoryBtn1:active:focus,
.categoryBtn1:active:hover {
    background-color: #EBECF5;
    color: #1A1922;
    border-color: #1A1922;
    outline: none;
}

.sale {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bolder;
    color: #FBD233;
}

.same-height {
    display: flex;
}

#carousel-custom {
    padding-left: 0px;
    padding-right: 0px;
}

#carousel-custom .carousel-indicators {
    margin: 10px 0 0;
    overflow: auto;
    position: static;
    text-align: left;
    white-space: nowrap;
    width: 100%;
}

#carousel-custom .carousel-indicators li {
    background-color: transparent;
    border: unset;
    border-radius: 10px;
    display: inline-block;
    height: auto;
    margin: 0 !important;
    width: auto;
}

#carousel-custom .carousel-indicators li img {
    display: block;
    opacity: 1;
    width: 120px;
    height: 70px;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-right: 10px;
}

#carousel-custom .carousel-outer {
    position: relative;
}

.item img {
    border-radius: 15px;
    max-height: 300px;
    width: 100%;
}

#carousel-custom ::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #FBD233;
    border-radius: 10px;
}

.text {
    margin-top: 30px;
}

.box-about {
    background-color: #302F38;
    margin-left: 20px;
    border-radius: 15px;
}

.white {
    color: white;
    font-weight: bolder;
    margin-top: 25px;
    padding-left: 10px;
}

.like-Buttons {
    margin-top: 35px;
    margin-bottom: 30px;
    padding-left: 10px;
    display: flex;
    align-items: flex-end;
    background-color: #302F38;
}

.like-Button1 {
    font-size: 20px;
    padding: 0px 5px;
}

.like-Button1,
.like-Button1:hover,
.like-Button1:active,
.like-Button1:focus,
.like-Button1:active:focus,
.like-Button1:active:hover {
    background-color: #302F38;
    color: #5DF066;
    border-color: #302F38;
    outline: none;
}

.like-Button2 {
    font-size: 20px;
    padding: 0px 5px;
    margin-left: 30px;
}

.like-Button2,
.like-Button2:hover,
.like-Button2:active,
.like-Button2:focus,
.like-Button2:active:focus,
.like-Button2:active:hover {
    background-color: #302F38;
    color: #EB3D3A;
    border-color: #302F38;
    outline: none;
}

.like-Buttons span {
    color: white;
    font-size: 20px;
    font-weight: bolder;
    margin-left: 10px;
}

.text-box {
    padding-left: 10px;
    margin-top: 10px;
}

.text-box h5 {
    color: #E3BE32;
    font-size: 15px;
    font-weight: bolder;
    margin-bottom: 3px;
}

.span1 {
    color: rgb(201, 200, 202);
    font-size: 16px;
    word-break: break-all;
}

.shareBtn {
    font-size: 16px;
    padding: 0px 5px;
    float: right;
    margin-top: -5px;
}

.shareBtn,
.shareBtn:hover,
.shareBtn:active,
.shareBtn:focus,
.shareBtn:active:focus,
.shareBtn:active:hover {
    background-color: #302F38;
    color: #E3BE32;
    border-color: #302F38;
    outline: none;
}

.map-box {
    margin: 40px 10px 30px 10px;
    padding-bottom: 5px;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 200px;
    width: 100%;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 200px;
    width: 100%;
    border-radius: 20px;
}

/* done card-page */

.box-1 {
    padding-top: 7.5vh;
    padding-bottom: 7.5vh;
    background-color: #FBD131;
}

.box-2 {
    padding-top: 7vh;
    padding-bottom: 20vh;
    background-color: #EAEBF4;
}

.box-2 .form-control {
    padding: 23px 17px;
}

.changed-color::placeholder {
    font-weight: bolder;
    color: rgb(214, 212, 212) !important;
}

.backToHomeBtn {
    padding: 10px 20px 10px 0px;
    border-radius: 5px;
    font-size: 18px;
}

.backToHomeBtn,
.backToHomeBtn:hover,
.backToHomeBtn:active,
.backToHomeBtn:focus,
.backToHomeBtn:active:focus,
.backToHomeBtn:active:hover {
    background-color: #FBD131;
    border-color: #FBD131;
    color: #302F38;
}

.box-1 .title-h {
    margin-top: 0px;
}

.send-top {
    margin-top: 20px;
}

.box-2 .p0 {
    padding-left: 15px;
    padding-right: 15px;
}

/* done buy-card page */

.box-3 {
    padding-top: 30px;
    padding-bottom: 70px;
    background-color: #EBECF5;
}

.box-3 .form-control {
    padding: 23px 17px;
}

#select_category .btn {
    padding: 12px 25px;
    border-radius: 75px;
    font-size: 12px;
    font-weight: bolder;
    margin-right: 10px;
    margin-bottom: 15px;
    box-shadow: 5px 7px 10px #acaaaa;
}

#select_category .btn,
#select_category .btn:hover,
#select_category .btn:active,
#select_category .btn:focus,
#select_category .btn:active:focus,
#select_category .btn:active:hover {
    background-color: white;
    border-color: white;
    color: #302F38;
    outline: none;
}

/*** CUSTOM FILE INPUT STYE ***/
#images {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.wrap-custom-file {
    position: relative;
    width: 24%;
    height: 180px;
    margin-bottom: 1.3%;
    border: 2px dashed #B3B3BC;
    border-radius: 10px;
    text-align: center;
}

.web {
    margin-right: 1.3%;
}

.wrap-custom-file input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    overflow: hidden;
    opacity: 0;
}

.wrap-custom-file label {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    overflow: hidden;
    padding: 0rem;
    margin: 0rem;
    cursor: pointer;
    background-color: #EBECF5;
    border-radius: 10px;
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
}

.wrap-custom-file label .fa {
    position: absolute;
    left: 50%;
    -webkit-transform: translatex(-50%);
    transform: translatex(-50%);
    color: #B3B3BC;
    -webkit-transition: color 0.4s;
    transition: color 0.4s;
}

.wrap-custom-file label .fa-plus {
    top: 45%;
    font-size: 30px;
}


.wrap-custom-file label .fa-image {
    top: 40%;
    font-size: 35px;
}

.wrap-custom-file label.file-ok {
    background-size: cover;
    background-position: center;
}

.wrap-custom-file label.file-ok span {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.3rem;
    font-size: 1.1rem;
    color: #000;
    background-color: rgba(255, 255, 255, 0.7);
}

.wrap-custom-file label.file-ok .fa {
    display: none;
}

.png-type {
    margin-top: 5px;
    font-style: italic;
    font-weight: bolder;
}

textarea.form-control {
    border-radius: 15px;
}

textarea {
    resize: none;
}

/* done create-card page */

.admin-box {
    height: 100vh;
    background-color: #302F38;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form1,
.form2,
.form3 {
    background-color: #EBECF5;
    margin-bottom: -1px;
}

.form1 {
    padding-top: 15vh;
}

.form3 {
    padding-bottom: 15vh;
}

.loginBtn {
    padding: 10px;
    width: 200px;
    border-radius: 75px;
    font-size: 14px;
    font-weight: bolder;
}

.loginBtn,
.loginBtn:hover,
.loginBtn:active,
.loginBtn:focus,
.loginBtn:active:focus,
.loginBtn:active:hover {
    background-color: #302F38;
    border-color: #302F38;
    color: white;
    outline: none;
}

.form1 .form-control:focus,
.form2 .form-control:focus {
    border-color: rgb(67, 66, 73);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(67, 66, 49, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(67, 66, 49, .6);
}

/* done admin-login page */

.admin1 {
    background-color: #FBD131;
    padding-top: 20px;
    padding-bottom: 20px;
}

.flex1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.admin2 {
    background-color: #302F38;
    padding-top: 15px;
    padding-bottom: 15px;
}

.showBtn {
    padding: 10px;
    width: 200px;
    border-radius: 75px;
    font-size: 14px;
    font-weight: bolder;
}

.showBtn,
.showBtn:hover,
.showBtn:active,
.showBtn:focus,
.showBtn:active:focus,
.showBtn:active:hover {
    background-color: #302F38;
    border-color: #FBD131;
    color: #FBD131;
    outline: none;
}

#createdCards {
    display: none;
}

.table {
    margin-top: 50px;
}

.seeMoreLink {
    color: rgb(241, 193, 18);
    background-color: #302F38;
    padding: 5px;
}

.seeMoreLink:focus,
.seeMoreLink:hover {
    color: #E3BE32;
}

.adminButtons {
    margin-top: 50px;
    margin-bottom: 20px;
}

.adminBtn1,
.adminBtn2,
.adminBtn3 {
    padding: 10px;
    width: 140px;
    border-radius: 75px;
    font-size: 14px;
    font-weight: bolder;
    margin-right: 10px;
}

.adminBtn1,
.adminBtn1:hover,
.adminBtn1:active,
.adminBtn1:focus,
.adminBtn1:active:focus,
.adminBtn1:active:hover {
    background-color: #08bd14;
    border-color: rgb(26, 26, 27);
    color: rgb(26, 26, 27);
    outline: none;
}

.adminBtn2,
.adminBtn2:hover,
.adminBtn2:active,
.adminBtn2:focus,
.adminBtn2:active:focus,
.adminBtn2:active:hover {
    background-color: rgb(227, 58, 47);
    border-color: rgb(26, 26, 27);
    color: rgb(26, 26, 27);
    outline: none;
}

.adminBtn3,
.adminBtn3:hover,
.adminBtn3:active,
.adminBtn3:focus,
.adminBtn3:active:focus,
.adminBtn3:active:hover {
    background-color: rgb(249, 216, 52);
    border-color: rgb(26, 26, 27);
    color: rgb(26, 26, 27);
    outline: none;
}

/* done admin page */

@media only screen and (min-device-width : 768px) and (max-device-width : 991px) {

    .header,
    .footer {
        padding-top: 40px;
        padding-bottom: 65px;
    }

    .title-h,
    .title-f {
        font-size: 35px;
    }

    .subtitle-h,
    .subtitle-f {
        font-size: 16px;
    }

    .buyNowBtn,
    .createDiscountBtn {
        padding: 10px;
        width: 200px;
    }

    /* done header and footer */

    .company-name {
        margin-top: 0px;
        font-size: 16px;
    }

    .company-name1 {
        font-size: 20px;
    }

    .likeBtn,
    .dislikeBtn {
        font-size: 24px;
    }

    .likes span {
        margin-left: 15px;
        margin-right: 15px;
        font-size: 24px;
    }

    .seeMoreBtn {
        font-size: 12px;
        width: 100%;
    }

    /* done the look of cards */

    #select_category .btn {
        padding: 10px 20px;
    }

    /* done create-card page */

}

@media only screen and (max-width : 767px) {

    .header,
    .footer {
        text-align: center;
        padding-top: 40px;
        padding-bottom: 65px;
    }

    .title-h,
    .title-f {
        font-size: 30px;
    }

    .subtitle-h,
    .subtitle-f {
        font-size: 14px;
    }

    .buyNowBtn,
    .createDiscountBtn {
        padding: 8px;
        width: 180px;
    }

    /* done header and footer */

    .select-box-paddings {
        padding: 10px 15px 0px 15px;
    }

    .buttons {
        text-align: center;
    }

    /* done search div */

    .same-height {
        display: block;
    }

    .box-about {
        margin-top: 30px;
        margin-left: 0px;
        height: auto;
    }

    /* done card-page */

    .box-2 {
        padding-top: 5vh;
        padding-bottom: 15vh;
    }

    .box-2 .buyNowBtn {
        width: 150px;
    }

    /* done buy-card page */

    #select_category .btn {
        padding: 10px 15px;
        margin-right: 8px;
    }

    .wrap-custom-file {
        width: 49.2%;
    }

    .web {
        margin-right: 0%;
    }

    .mobile {
        margin-right: 1.3%;
    }

    /* done create-card page */

    .loginBtn {
        padding: 7px;
        width: 170px;
        font-size: 12px;
    }

    .showBtn {
        padding: 7px;
        width: 170px;
        font-size: 11px;
    }

    .adminBtn1,
    .adminBtn2,
    .adminBtn3 {
        padding: 8px;
        width: 100px;
        border-radius: 75px;
        font-size: 12px;
        font-weight: bolder;
        margin-right: 10px;
        margin-top: 10px;
    }

    /* done admin page */

}